%p
  Busca y encuentra tus 
  %br
  Practicas Empresariales de acuerdo a:
#search
  .wrapper
    .wrapper
      %form
        %label Yo se
        %input.first.text{:name => "skills", :type => "text"}
          %label Yo quiero aprender
          %input.second.text{:name => "learn", :type => "text"}
          %input.search{:type => "submit", :value => ""}